<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI 營養助手</title>
</head>
<body>
    <h1>AI 營養助手</h1>
    <form action="/show_nutrition" method="post">
        <label for="food_name">輸入食物:</label>
        <input type="text" id="food_name" name="food_name" required>
        <button type="submit">顯示營養信息</button>
    </form>
</body>
</html>
